<!DOCTYPE html>
<html>
  <head>
    <title>NPS Calculator</title>
      
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src='http://code.jquery.com/jquery-latest.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src="js/nps.js"></script>
      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom.css"/>
  </head>
    
  <body>
      
<header>
      <nav class="navbar navbar-default">
          <div class="container">

              <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">What's my NPS?</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#"><i class='fa fa-calculator'></i>Calculator <span class="sr-only">(current)</span></a></li>
                <li><a href="#"><i class='fa fa-bar-chart'></i>My Scores</a></li>
              </ul>
            </div>
          </div>
    </nav>
</header>
      
      <div class="page-wrap">
      
      <div class="container">
          
          <div ng-app="npsApp">
              
                  
                <div ng-controller="npsController">
                <div class="row">
                        <div class="col-lg-12 one-ten">
                            <h4>{{ one+two+three+four+five+six+seven+eight+nine+ten }} Responses </h4>

                            <div class="col-sm-1 input-group">
                                <div class="input-group-addon red">1</div>
                                <input ng-model="one" type="number" title='' class='input-rounded'>
                            </div>

                            <div class="col-sm-1 input-group">
                                <div class="input-group-addon red">2</div>
                                <input ng-model="two" type="number" class='input-rounded'>
                            </div>

                            <div class="col-sm-1 input-group">
                                <div class="input-group-addon red">3</div>
                                <input ng-model="three" type="number" class='input-rounded'>
                            </div>

                            <div class="col-sm-1 input-group">
                                <div class="input-group-addon red">4</div>
                                <input ng-model="four" type="number" class='input-rounded'>
                            </div>

                            <div class="col-sm-1 input-group">
                                <div class="input-group-addon red">5</div>
                                <input ng-model="five" type="number" class='input-rounded'>
                            </div>

                            <div class="col-sm-1 input-group">
                                <div class="input-group-addon red">6</div>
                                <input ng-model="six" type="number" class='input-rounded'>
                            </div>

                            <div class="col-sm-1 input-group">
                                <div class="input-group-addon orange">7</div>
                                <input ng-model="seven" type="number" class='input-rounded'>
                            </div>

                            <div class="col-sm-1 input-group">
                                <div class="input-group-addon orange">8</div>
                                <input ng-model="eight" type="number" class='input-rounded'>
                            </div>

                            <div class="col-sm-1 input-group">
                                <div class="input-group-addon green">9</div>
                                <input ng-model="nine" type="number" class='input-rounded'>
                            </div>

                            <div class="col-sm-1 input-group">
                                <div class="input-group-addon green">10</div>
                                <input ng-model="ten" type="number" class='input-rounded'>
                            </div>
                        </div>

                        <div class="col-md-8 col-md-offset-2 types">
                            <h4>Types</h4>
                            
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon red" title="Detractors"><p>D</p></div>
                                        <input ng-model='detractorsPercentage' type="number" value='{{ 100 * (one+two+three+four+five+six) / (one+two+three+four+five+six+seven+eight+nine+ten) | number:2 }}'>
                                    <div class="input-group-addon">%</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon orange" title="Neutrals"><p>N</p></div>
                                    <input ng-model='neutralsPercentage' type="number" value='{{ 100 * (seven+eight) / (one+two+three+four+five+six+seven+eight+nine+ten) | number:2 }}'>
                                <div class="input-group-addon">%</div>
                            </div>
                            </div>

                            <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon green" title="Promoters"><p>P</p></div>
                                    <input ng-model='promotersPercentage' type="number" value='{{ 100 * (nine+ten) / (one+two+three+four+five+six+seven+eight+nine+ten) | number:2 }}'>
                                <div class="input-group-addon">%</div>
                            </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-md-offset-5 nps-wrap">
                            <h4>NPS<span class='nps-symbol'>&reg;</span> Result</h4>
                            <div class="input-group">
                                <input ng-model='npsScore' class='nps-input' readonly="readonly" value='{{ 100 * (nine+ten) / (one+two+three+four+five+six+seven+eight+nine+ten) - 100 * (one+two+three+four+five+six) / (one+two+three+four+five+six+seven+eight+nine+ten) | number:0 }}'>
                            </div>
                        </div>

                        <div class="col-lg-12" ng-if="one">
                            <button class="btn btn-primary btn-large center" type="reset" ng-click="reset()">Clear</button>
                        </div>
    
                    </div>    
                </div>
              </div>
         </div>
          
      </div>
    
    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p>Net Promoter, Net Promoter Score, and NPS are trademarks of Satmetrix Systems, Inc., Bain &amp; Company, Inc., and Fred Reichheld.</p>
            </div>
        </div>
    </footer>
            
     
  </body>
</html>